@model IEnumerable<Movies.Models.MovieClass>

@{
    ViewData["Title"] = "Saiyen's Movie List";
    <!-- WebGrid grid = new WebGrid(Model);-->
}

<h1 class="text-center">Movie List</h1>

<p>
    <a asp-action="Create">Add a new movie</a>

    @using (Html.BeginForm())
    {
    <p>

        Genre: @Html.DropDownList("MovieGenre", "All")
        Title: @Html.TextBox("SearchString") <br />
        <input type="submit" value="Filter" />

    </p>
}

    <!--table style="border: solid; white-space: nowrap">
        <thead>
            <tr>
                <th>
                     @Html.DisplayNameFor(model => model.Name)
    </th>
                <th>
                     @Html.DisplayNameFor(model => model.Category)
    </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
    </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                     @Html.DisplayFor(modelItem => item.Category)
    </td>
                <td>
                      @Html.DisplayFor(modelItem => item.Rating)
    </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table> -->
    <!-- <div><b></b><br /></div> -->
    <table class="table table-responsive table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </table>


